
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h1>WelCome To Rahitech</h1>
<h5>Only Sutar</h5>


  <div>
    @{ 
        var Message = "Hello,Rahitech Razor View";
    }

    Message is:<b> @Message </b>
    </div>


   




